/* =====Default=====*/
*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --bg: black;
}

@font-face {
    font-family: LEDbit;
    src: url(fonts/BitcountSingle-Regular.ttf);
    font-display: swap;
}

/* =====Base=====*/
body {
    margin: 0;
    background: black;
    color: aliceblue;
    font-family: monospace;
}

/* =====Layout=====*/
#main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: 0 auto;
    padding: 16px;
}

h1 {
    margin-bottom: 0;
}

h2 {
    margin-bottom: 1px;
}
/* =====Settings=====*/


/* =====Buttons=====*/
#display-btn {
    font-family: "LEDbit", cursive;
    font-size: x-large;
    color: blueviolet;
    background: rgb(240, 236, 236);
    border: 2px solid plum;
    align-self: center;
    padding: 7px;
}
/* =====Preview=====*/
#preview-box {
    display: flex;
    border: 2px solid lavender;
    height: 100px;
    align-items: center;
    justify-content: safe center;
    overflow: hidden;
    container-type: size;


    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

#preview-text {
    white-space: nowrap;
    font-size: var(--size);
    font-family: "LEDbit", monospace;
    text-shadow: 0 0 0.15em currentColor;
}

#preview-box.scrolling {
    justify-content: flex-start;
}

/* =====Display=====*/
#preview-box:fullscreen {
    border: none;
    height: 100%;
    padding: 10vh 0;
}

#preview-box.fake-fullscreen {
    position: fixed;
    inset: 0;
    height: 100dvh;
    z-index: 1000;
    background: black;
    border: none;
    padding: 10vh 0;
}